@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 142 76% 36%;
    --primary-foreground: 142 76% 96%;
    --secondary: 210 16% 93%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 16% 96%;
    --muted-foreground: 210 10% 45%;
    --accent: 142 76% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 16% 90%;
    --input: 210 16% 90%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 142 66% 46%;
    --chart-3: 142 56% 56%;
    --chart-4: 142 46% 66%;
    --chart-5: 142 36% 76%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 23%;
    --foreground: 210 20% 98%;
    --card: 210 10% 18%;
    --card-foreground: 210 20% 98%;
    --popover: 210 10% 18%;
    --popover-foreground: 210 20% 98%;
    --primary: 142 76% 46%;
    --primary-foreground: 142 76% 96%;
    --secondary: 210 10% 28%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 10% 28%;
    --muted-foreground: 210 10% 65%;
    --accent: 142 76% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 10% 32%;
    --input: 210 10% 32%;
    --ring: 142 76% 46%;
    --chart-1: 142 76% 46%;
    --chart-2: 142 66% 56%;
    --chart-3: 142 56% 66%;
    --chart-4: 142 46% 76%;
    --chart-5: 142 36% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
